extends /index

block header
    h1 Заметки

    a(href="/notes/create") Создать заметку

block main
    div
        for note in notes
            div
                h2= note.title
                div= note.content
                div
                    div
                        a(href=`/notes/${notes._id}`) Подробнее
                    div
                        a(href=`/notes/${notes._id}/update`) Обновить
                    div
                        a(href=`/notes/${notes._id}/delete`) Удалить

